<div class="panel panel-default">
    <div class="panel-heading"> {{ 'ADD_NEW_BOOK' | translate }} </div>
    <div class="panel-body">
        <form novalidate name="editBookForm">
            <div class="form-group" ng-class="{
                'has-error': editBookForm.name.$invalid && !editBookForm.name.$pristine
            }">
                <label for="name">{{ 'BOOK_NAME' | translate }} </label>
                <input ng-model="vm.book.name" name="name" type="text" class="form-control" placeholder="{{ 'ENTER_NAME' | translate }}" required />
                <span class="help-block" ng-show="editBookForm.name.$invalid && !editBookForm.name.$pristine" translate="BOOK_NAME_REQUIRED" }} </span>
            </div>
            <div class="form-group" ng-class="{
                'has-error': editBookForm.isbn.$invalid && !editBookForm.isbn.$pristine
            }">
                <label for="isbn" translate="BOOK_ISBN"> </label>
                <input ng-model="vm.book.isbn" name="isbn" type="text" class="form-control" placeholder="{{ 'ENTER_ISBN' | translate }}" required />
                <span class="help-block" ng-show="editBookForm.isbn.$invalid && !editBookForm.isbn.$pristine" translate="ISBN_REQUIRED"></span>
            </div>
            <div class="form-group" ng-class="{
                'has-error': editBookForm.author.$invalid && !editBookForm.author.$pristine
            }">
                <label for="author" translate="BOOK_AUTHOR"> </label>
                <select ng-model="vm.book.author" name="author" ng-options="author as author.name for author in vm.authors" class="form-control" required>
                </select>
                <span class="help-block" ng-show="editBookForm.author.$invalid && !editBookForm.author.$pristine" translate="BOOK_AUTHOR_REQUIRED"</span>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="vm.createNewAuthor" ng-click="vm.resetAuthor()"/> {{ 'ADD_NEW_AUTHOR' | translate }} 
                </label>
            </div>
            <div class="form-group" ng-show="vm.createNewAuthor">
                <label for="authorName" translate="AUTHOR_NAME"> </label>
                <input ng-model="vm.book.author.name" type="text" placeholder="{{ 'ENTER_AUTHOR' | translate }} " class="form-control" required />
            </div>
            <div class="form-group">
                <label for="series">{{ 'SERIES' | translate }} </label>
                <select ng-model="vm.book.series" name="series" ng-options="series as series.name for series in vm.series" class="form-control">
                    <option value=""></option>
                </select>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="vm.createNewSeries" ng-click="vm.resetSeries()"/> {{ 'ADD_NEW_SERIES' | translate }} 
                </label>
            </div>
            <div class="form-group" ng-show="vm.createNewSeries">
                <label for="seriesName">{{ 'SERIES_NAME' | translate }} </label>
                <input ng-model="vm.book.series.name" type="text" placeholder="{{ 'ENTER_SERIES' | translate }} " class="form-control" />
            </div>
        </form>
        <button type="button" class="btn btn-success" ng-disabled="editBookForm.$invalid" ng-click="vm.saveBook()" translate="SAVE_BOOK"> </button>
    </div>
</div>
