<div class="panel panel-default">
    <div class="panel-heading">{{ vm.book.name }}
        (<em>{{ vm.book.author.name }}</em>) <a ui-sref="book-edit({ id: vm.book.id })"><em>edit</em></a></div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3 book-cover">
                <img src="covers/bohaterowie.jpg" class="book-cover" />
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="book-title">{{ vm.book.name }}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 book-info-label">
                        <em>ISBN</em>
                    </div>
                    <div class="col-md-10">
                        {{ vm.book.isbn }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 book-info-label">
                        <em>Autor</em>
                    </div>
                    <div class="col-md-10">
                        {{ vm.book.author.name }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 book-info-label">
                        <em>Seria</em>
                    </div>
                    <div class="col-md-10">
                        {{ vm.book.series.name }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 book-info-label">
                        <em>Kategorie</em>
                    </div>
                    <div class="col-md-10" ng-repeat="category in vm.book.categories">
                        {{ category.name }}
                        <span ng-show="!$last">, </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
