<div class="panel panel-default">
    <div class="panel-heading">{{vm.book.name}}
        (<em>{{vm.book.author.name}}</em>)</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3 book-cover">
                <img src="covers/bohaterowie.jpg" class="book-cover" />
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="book-title">{{vm.book.title}}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 book-info-label">
                        <em>{{'ISBN' | translate}}</em>
                    </div>
                    <div class="col-md-10">
                        {{vm.book.isbn}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 book-info-label">
                        <em>{{ 'AUTHOR' | translate | capitalize }}</em>
                    </div>
                    <div class="col-md-10">
                        {{vm.book.author.name}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 book-info-label">
                        <em>{{'SERIES' | translate | capitalize}}</em>
                    </div>
                    <div class="col-md-10">
                        {{vm.book.series.name}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 book-info-label">
                        <em>{{'CATEGORIES' | translate | capitalize}}</em>
                    </div>
                    <div class="col-md-10" ng-repeat="category in vm.book.categories">
                        {{category.name}}<font ng-show="!$last">,  </font>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 book-info-label">
                        <button type="button" class="btn btn-success" ui-sref="editBookState({bookId: vm.book.id})">{{'EDIT' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
