<div id="categories" class="form-group">

        <div>
    <ul>
    <li  ng-repeat="category in $scope.datasource">{{ category.name }} </li>
    </ul>
    </div>

    <label for="categories">Kategorie</label>
    <select name="categories" multiple ng-multiple="true" class="form-control" ng-model="vmc.selectedCategory" ng-options="category.name for category in vmc.allCategories | filter: vmc.typedCategoryName track by category.id ">
    </select>

    <button type="button" class="btn btn-success" ng-click="vmc.addSelectedCategory()">Dodaj</button>
    <button type="button" class="btn btn-success" ng-click="vmc.removeSelectedCategory()">Usuń</button>
    
    <input name="typedCategoryName" ng-model="vmc.typedCategoryName" type="text" placeholder="Podaj nazwę kategorii lub filtruj ;)" class="form-control"/>
    <button type="button" class="btn btn-success" ng-click="vmc.addNewCategory()">Dodaj nową kategorię</button>
    
    
</div>