
<div class="panel-heading">Dodaj Kategorię</div>
<div class="panel-body">
	<form novalidate name="categoryForm">
		<div class="form-group">
			<label for="name">Nazwa</label> <input name="name" type="text"
				class="form-control" placeholder="Podaj nazwę" required
				ng-model="vm.category.name" /> <span class="help-block"
				ng-show="categoryForm.name.$touched && categoryForm.name.$invalid">
				Musisz podać nazwę Kategorii</span>
		</div>
	</form>
	<button type="button" class="btn btn-success" data-dismiss="modal"
		ng-click="vm.saveCategory()" ng-disabled="categoryForm.$invalid">
		Zapisz</button>
</div>
