<div class="panel panel-default">
    <div class="panel-heading">Dodaj nową kategorię</div>
    <div class="panel-body">
        <form novalidate name="editCategoryForm">
            <div class="form-group" ng-class="{
                'has-error': editCategoryForm.name.$invalid && !editCategoryForm.name.$pristine
            }">
                <label for="name">Nazwa</label>
                <input ng-model="vm.category.name" name="name" type="text" class="form-control" placeholder="Podaj nazwę" required />
                <span class="help-block" ng-show="editCategoryForm.name.$invalid && !editCategoryForm.name.$pristine">Musisz podać nazwę kategorii</span>
            </div>
        </form>
        <button type="button" class="btn btn-success" ng-disabled="editCategoryForm.$invalid" ng-click="vm.saveCategory()">Zapisz kategorię</button>
    </div>
</div>
