<div class="panel panel-default">
    <div class="panel-heading">{{ 'ADD_SERIES' | translate }}</div>
    <div class="panel-body">
        <form novalidate name="editSeriesForm">
            <div class="form-group" ng-class="{
                'has-error': editSeriesForm.name.$invalid && !editSeriesForm.name.$pristine
            }">
                <label for="name">{{ 'NAME' | translate }}</label>
                <input ng-model="vm.series.name" name="name" type="text" class="form-control" placeholder= "{{ 'NAME_REQUIRED' | translate }}" required />
                <span class="help-block" ng-show="editSeriesForm.name.$invalid && !editSeriesForm.name.$pristine">{{ 'SERIES_NAME_REQUIRED' | translate }}</span>
            </div>
        </form>
        <button type="button" class="btn btn-success" ng-disabled="editSeriesForm.$invalid" ng-click="vm.saveSeries()"> {{ 'SAVE_SERIES' | translate }}</button>
    </div>
</div>
