<div class="panel panel-default">
    <div class="panel-body">
        <div class="input-group">
            <input ng-model="vm.currentFilter" type="text" class="form-control" placeholder="{{ 'FILTER_SERIES' | translate }} " />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-search"></span>
            </span>
        </div>
    </div>
</div>
<ul class="list-group">
    <li class="list-group-item" ng-repeat="series in vm.series | filter:{ name: vm.currentFilter}">
        {{ series.name }}
        <a ui-sref="series-edit({id: series.id})" translate="EDIT"> </a>
    </li>
</ul>
