#overlay {
    background-color: rgba(127, 140, 141, 0.7);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999999;
}

#overlay > #spinner {
    font-size: 60px;

    top: 30%;
    left: 50%;
    position: absolute;
}

div.book-cover {
    text-align: center;
}

img.book-cover {
    max-width: 100%;
    max-height: 230px;
}

.book-info-label {
    text-align: right;
}

h3.book-title {
    margin-top: 0px;
}

.language-container {
    padding-bottom: 15px;
    padding-top: 15px;
    float:right;
}

#languages li {
    list-style: outside none none;
    float: left;
}

#languages a {
    color: #b6b6b6;
    display: block;
    font-size: 13px;
    padding: 4px;
    text-decoration: none;
}

#languages .current a {
    background: #d9d9d9 none repeat scroll 0 0;
    color: #939393;
}

#languages a:hover {
    background: #eaeaea none repeat scroll 0 0;
}

.toast-message li {
    list-style: outside none none;
}

.category-list {
    list-style: outside none none;   
}

.validation-animation.ng-hide-add,
.validation-animation.ng-hide-remove {
  -webkit-transition:1s linear all;
  transition:1s linear all;

  display:block;
  opacity:1;
}
.validation-animation.ng-hide {
  opacity:0;
}
